* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

#data-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9rem;
	min-width: 400px;
}

#data-table thead tr {
	text-align: center;
	font-weight: bold;
}

#data-table th,
table td {
	padding: 12px 15px;
}

#data-table tbody tr {
	border: 1px solid black;
}